.Filter {
  display: flex;
  justify-content: center;
}

.filterBtn {
  display: grid;
  justify-content: end;
  width: 500px
}

#all {
  margin-left: 5px;
  margin-right: 7px;
}

#review {
  margin-left: 5px;
  margin-right: 7px;
}

#interviewed {
  margin-left: 5px;
  margin-right: 7px;
}

#declined {
  margin-left: 5px;
  margin-right: 7px;
}

#offered {
  margin-left: 5px;
  margin-right: 7px;
}

.jobCardContainer {
  padding-bottom: 50px;
}

@media (max-width: 1000px) and (min-width: 200px) {
  .usrCard {
    height: 200px;
    min-height: 200px;
    max-width:155px;
  }
  .column {
    height: 250px !important;
  }
}