.filterBtn {
  display: grid;
  justify-content: end;
}

#all {
  margin-left: 5px;
  margin-right: 7px;
}

#review {
  margin-left: 5px;
  margin-right: 7px;
}

#interviewed {
  margin-left: 5px;
  margin-right: 7px;
}

#declined {
  margin-left: 5px;
  margin-right: 7px;
}

#offered {
  margin-left: 5px;
  margin-right: 7px;
}


