.addReason:hover {
  cursor: pointer;
  color: lightskyblue;
}

.decline {
  align-items: center !important;
}

.err {
  color: red;
}

.revert {
  background-color: #219EBC !important;
  border-color: #219EBC !important;
}

.revert:hover {
  background-color: transparent !important;
  color: #219EBC !important;
}

.declinedCard {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.declinedCard:hover {
  background-color: transparent !important;
  color: #dc3545 !important;
}

.Offer {
  background-color: #023047 !important;
}

.Offer:hover {
  color: #023047 !important;
  background-color: transparent !important;
  border: #023047 solid 1px !important;
  text-decoration: none !important;
}