/* .manageJobsContainer {
  background-color: #8ECAE6;
} */

.usrCard {
  max-height: 350px;
  overflow: scroll;
  min-height: 200px;
  height: 100%;
  background-color: #8ECAE6 !important;
}

.MJviewJobBtn {
  color: #023047 !important;
  background-color: transparent !important;
  height: 50px;
  width: 50px;
  border: #023047 solid 1px !important;
  border-radius: 50% !important;
  margin: 5px -10px 0px 10px;
  text-decoration: none !important;
}

.MJviewJobBtn:hover {
  background-color: #FFBA0A !important;
  border: #FFBA0A solid 1px !important;
}

.MJviewJobBtnGreen {
  color: #023047 !important;
  background-color: transparent !important;
  height: 50px;
  width: 50px;
  border: #023047 solid 1px !important;
  box-shadow: 1px 1px 7px 3px green;
  border-radius: 50% !important;
  margin: 5px -10px 0px 10px;
  text-decoration: none !important;
}

.MJviewJobBtnGreen:hover {
  background-color: #FFBA0A !important;
  border: #FFBA0A solid 1px !important;
}

.manageJobsContainer {
  width: 100%;
}

.filter {
  display: block;
  margin: auto;
}

.column {
  height: 400px;
  min-height: 210px;
}

.uCard {
  box-shadow: 5px 5px #FFBA0A;
}

.uCard:hover {
  box-shadow: 10px 10px #FFBA0A;
}

ul {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 20px !important;
  padding-bottom: 10px !important;
}

.acceptedIcon {
  margin-left: 10px;
}

@media (max-width: 1000px) and (min-width: 200px) {
  .usrCard {
    height: 200px;
    min-height: 200px;
  }
  .column {
    height: 250px !important;
    min-width: 175px;
    max-width: 175px;
  }
}

@media screen and (max-width: 600px) {
  .MJviewJobBtn {
    margin: 0px !important;
  }
  .MJviewJobBtnGreen {
    margin: 0px !important;
  }
}