.log {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #fff;
}

.Text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
}

.font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 23px;
}

.font2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
}

.signUp {
  display: flex;
  justify-content: center;
}

.Logo {
  display: flex;
  justify-content: center;
}