.status {
  border: none !important;
}

.card-header {
  text-align: center !important;
}

.cardContainer {
  width: 100%
}

.jobCard {
  margin: 10px 10px 0px 10px !important;
}

.bttn {
  display: grid;
  justify-content: end;
}

.pCard {
  box-shadow: 5px 5px #023047 !important;
}

.pCard:hover {
  box-shadow: 10px 10px #023047 !important;
}

@media screen and (min-width: 575px) {
  .jobCard {
    max-width: 500px;
    display: block !important;
    margin: 10px auto 0px auto !important;
  }
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em .25em;
  color: #000;
  border: 0;
  border-radius: .25rem;
  opacity: .5;
  float: right;
}