.status {
  border: none !important;
}

.card-header {
  text-align: center !important;
}

/* .cardCenter {
  display: flex;
  justify-content: center;
} */

.body {
  display: flex;
  flex-direction: column;
}

/* @media (max-width: 500px) and (min-width: 300px) {
  .media {
    width: 500px;
  }
} */