.jobCard {
  margin: 10px 10px 0px 10px !important;
}

.cardContainer {
  width: 100%
}

.bttn {
  display: grid;
  justify-content: end;
}

.header {
  background-color: #8ECAE6 !important;
}

.aCard {
  box-shadow: 5px 5px #023047 !important;
}

.aCard:hover {
  box-shadow: 10px 10px #023047 !important;
}

.viewJobBtn {
  color: #023047 !important;
  background-color: transparent !important;
  border: #023047 solid 1px !important;
  text-decoration: none !important;
}

.viewJobBtn:hover {
  background-color: #FFBA0A !important;
  border: #FFBA0A solid 1px !important;
}

@media screen and (min-width: 575px) {
  .jobCard {
    max-width: 500px;
    display: block !important;
    margin: 10px auto 0px auto !important;
  }
}